{% load i18n %}
<!-- hidden field -->
<input type="{{ widget.type }}" name="{{ widget.name }}" {% if widget.value != None %}value="{{ widget.value }}"{% endif %} {% include "django/forms/widgets/attrs.html" %}>
<!-- loop field value -->
<div id="super-wrapper">
    {% for survey in widget.surveys %}
        <div id="djf-wrapper-choice-field" class="djf-wrapper-choice-field">
            <div class="tw:relative mb-2 djf-field-choice">
                <select name="{{ widget.name }}_{{ forloop.counter }}"
                        {% include "djf_surveys/widgets/attrs_exclude_id.html" %}
                        id="{{ widget.name }}_{{ forloop.counter }}"
                        {% include "djf_surveys/widgets/attrs_exclude_id.html" %}
                        class="djf-input-field tw:w-6 tw:h-6 border tw:border-gray-200 tw:rounded-md tw:mb-4"
                        oninput="updateWidgetValue()">
                    <option value="{{ survey.id }}">{{ survey.name }}</option>
                    {% for survey in widget.all_surveys %}<option value="{{ survey.id }}">{{ survey.name }}</option>{% endfor %}
                </select>
                <div class="tw:absolute tw:top-2 tw:right-2">
                    <button class="djf-btn-remove-field tw:py-2 tw:px-2 tw:text-white tw:rounded-lg tw:bg-red-500 tw:hover:bg-red-600"
                            type="button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="tw:h-6 tw:w-6 stroke-white hover:stroke-white"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for extra in widget.extra %}
        <div id="djf-wrapper-choice-field" class="djf-wrapper-choice-field">
            <div class="tw:relative tw:mb-2 djf-field-choice">
                <select {% if widget.surveys %} name="{{ widget.name }}_{{ forloop.counter|add:widget.surveys.count }}"{% include "djf_surveys/widgets/attrs_exclude_id.html" %} id="{{ widget.name }}_{{ forloop.counter|add:widget.surveys.count }}"{% include "djf_surveys/widgets/attrs_exclude_id.html" %} {% else %} name="{{ widget.name }}_{{ forloop.counter }}"{% include "djf_surveys/widgets/attrs_exclude_id.html" %} id="{{ widget.name }}_{{ forloop.counter }}"{% include "djf_surveys/widgets/attrs_exclude_id.html" %} {% endif %}
                        class="djf-input-field tw:w-6 tw:h-6 border tw:border-gray-200 tw:rounded-md tw:mb-4"
                        oninput="updateWidgetValue()">
                    <option value="0">Select a survey to add to the list...</option>
                    {% for survey in widget.all_surveys %}<option value="{{ survey.id }}">{{ survey.name }}</option>{% endfor %}
                </select>
                <div class="tw:absolute tw:top-2 tw:right-2">
                    <button class="djf-btn-remove-field tw:py-2 tw:px-2 tw:text-white tw:rounded-lg tw:bg-red-500 tw:hover:bg-red-600"
                            type="button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="tw:h-6 tw:w-6 stroke-white hover:stroke-white"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<button class="tw:py-2 tw:px-2 tw:text-white tw:rounded-lg tw:bg-blue-500 tw:hover:bg-blue-600"
        type="button"
        id="djf-btn-add-field">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="tw:h-6 tw:w-6 tw:float-left"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
    </svg>
</button>
<span class="tw:ml-3 tw:font-medium">{{ widget.choice_label }}</span>
<script>
    let djfRemoveFieldButtons = [...document.getElementsByClassName("djf-btn-remove-field")];
    let djfFieldChoice = [...document.getElementsByClassName("djf-field-choice")];
    let wrapper = [...document.getElementsByClassName("djf-wrapper-choice-field")];
    let superWrapper = document.getElementById("super-wrapper");
    const djfBtnAddField = document.getElementById("djf-btn-add-field");
    const widgetName = "{{ widget.name }}";
    let hiddenField = document.getElementsByName("{{ widget.name }}")[0];

    window.onload = function() {
       updateValues();
       updateWidgetValue();
    };

    function updateValues() {
        let locals = [];
        for (e of wrapper) {
            const value = e.children[0].children[0].value;
            locals.push(value);
        }
        hiddenField.value = locals;
    };

    function updateWidgetValue() {
        let localvalues = [];
        for (e of wrapper) {
            const value = e.children[0].children[0].value;
            localvalues.push(value);
        }
        let widgetValue = localvalues.filter(function (el) {
            return el != "";
        });
        // loop through selects and remove select.value from each other select
        for (let i = 0; i < djfFieldChoice.length; i++) {
            const selectElement = djfFieldChoice[i].children[0];
            const selectValue = selectElement.value;
            const options = selectElement.options;
            for (let j = 0; j < options.length; j++) {
                if (widgetValue.includes(options[j].value) && options[j].value != selectValue && options[j].value != "") {
                    options[j].disabled = true;
                } else {
                    options[j].disabled = false;
                }
            }
        }
        updateValues();
    }

    function removeField(removeFieldButtons) {
        removeFieldButtons.map((removeBtn) => {
            removeBtn.onclick = () => {
                if (superWrapper.children.length > 2) {
                    removeBtn.parentElement.parentElement.parentElement.remove();
                    wrapper = [...document.getElementsByClassName("djf-wrapper-choice-field")];
                    updateWidgetValue();
                } else {
                    alert("{% trans 'at least two choices' %}");
                }
            };
        });
        updateValues();
    }
    removeField(djfRemoveFieldButtons);

    djfBtnAddField.onclick = () => {
        const node = superWrapper.children[superWrapper.children.length -1].cloneNode(true);
        node.children[0].children[0].selectedIndex = 0;
        superWrapper.appendChild(node);
        node.children[0].children[0].setAttribute("name", "{{ widget.name }}_" + (superWrapper.children.length));
        djfRemoveFieldButtons = [...document.getElementsByClassName("djf-btn-remove-field")];
        removeField(djfRemoveFieldButtons);
        wrapper = [...document.getElementsByClassName("djf-wrapper-choice-field")];
        updateValues();
    }

</script>
