{% if widget.wrap_label %}
    <label{% %}="" class="flex items-center text-sm py-1" endif="" for="{{ widget.attrs.id }}" if="" widget.attrs.id="" {%="">
{% endif %}
        <input !="None" "django="" %}="" %}{%="" attrs.html"="" class="w-6 h-6 border-gray-200" endif="" forms="" if="" include="" name="{{ widget.name }}" type="{{ widget.type }}" value="{{ widget.value }}" widget.value="" widgets="" {%=""/>
<span class="ml-3 font-medium">{{ widget.choice_label }}</span>
{% if widget.wrap_label %} {{ widget.label }}
    
{% endif %}
</label{%>