{% load static djf_survey_tags %}
<input type="{{ widget.type }}"
       name="{{ widget.name }}"
       {% if widget.value != None %} value="{{ widget.value }}" {% else %} value="0" {% endif %}
       {% include "django/forms/widgets/attrs.html" %}>
{% if widget.value != None %}
    {% create_star widget.value widget.attrs.id widget.num_ratings %}
{% else %}
    {% create_star "0" widget.attrs.id widget.num_ratings %}
{% endif %}
<div class="widget-attrs-id" data-id="{{ widget.attrs.id }}" hidden></div>