<div>
    <a class="relative block p-8 overflow-hidden border border-gray-100 rounded-lg bg-white" href="{% if user.is_staff %}{% url 'djf_surveys:detail' survey.slug request.resolver_match.kwargs.slug %}{% else %}{% url 'djf_surveys:create' survey.slug request.resolver_match.kwargs.slug %}{% endif %}">
        <span class="absolute inset-x-0 bottom-0 h-2  bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>
        <div class="justify-between sm:flex">
            <div>
                <h5 class="text-xl font-bold text-gray-900">
                    {{ survey.name }}
                </h5>
            </div>
        </div>

        <div class="no-tailwindcss-base mt-4 sm:pr-8">
            {{ survey.description|safe }}
        </div>
    </a>
</div>
