<div>
    <div class="tw:flex tw:-space-x-4 tw:hover:space-x-1 tw:float-right">
        <a class="tw:z-20 tw:block tw:p-4 tw:text-purple-700 tw:transition-all tw:bg-purple-100 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-purple-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring"
           href="{% url 'djf_surveys:survey_selection' survey_selection.slug %}"
           type="button">{% include "djf_surveys/buttons/add_button.html" %}</a>
        {% if user.is_superuser %}
            <a class="tw:z-20 tw:block tw:p-4 tw:text-blue-700 tw:transition-all tw:bg-blue-100 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-blue-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring"
               href="{% url 'djf_surveys:admin_forms_survey_selection' survey_selection.slug %}"
               type="button">{% include "djf_surveys/buttons/edit_button.html" %}</a>
            <a class="tw:z-30 tw:block tw:p-4 tw:text-green-700 tw:transition-all tw:bg-green-100 tw:border-2 tw:border-white tw:rounded-full tw:hover:scale-110 tw:focus:outline-none tw:focus:ring active:bg-gren50"
               href="{% url 'djf_surveys:admin_summary_survey_selection' survey_selection.slug %}"
               type="button">
                <svg class="tw:h-4 tw:w-4"
                     fill="none"
                     stroke="currentColor"
                     viewbox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    </path>
                    <path d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    </path>
                </svg>
            </a>
            <button class="button-delete tw:z-30 tw:block tw:p-4 tw:text-red-700 tw:transition-all tw:bg-red-100 tw:border-2 tw:border-white tw:rounded-full tw:hover:scale-110 tw:focus:outline-none tw:focus:ring tw:active:bg-red-50"
                    data-mdb-object_delete_url="{% url 'djf_surveys:admin_delete_survey_selection' survey_selection.slug %}"
                    data-mdb-object_name="{{ survey_selection.name }}"
                    data-te-target="#modalDelete"
                    data-te-toggle="modal">{% include "djf_surveys/buttons/delete_button.html" %}</button>
        {% endif %}
        <a class="button-share tw:z-30 tw:block tw:p-4 tw:text-amber-700 tw:transition-all tw:bg-amber-100 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-amber-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring"
           data-share-link="{% url 'djf_surveys:selection_share_link' survey_selection.slug %}"
           href="#"
           type="button">
            <svg class="tw:w-4 tw:h-4"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="1.5"
                 viewbox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>
        </a>
    </div>
    <a class="tw:relative tw:block tw:p-8 tw:overflow-hidden tw:border tw:border-gray-100 tw:rounded-lg tw:bg-white"
       href="{% if user.is_authenticated or survey_selection.can_anonymous_user %}{% url 'djf_surveys:survey_selection' survey_selection.slug %}{% endif %}">
        <span class="tw:absolute tw:inset-x-0 tw:bottom-0 tw:h-2 tw:bg-linear-to-r tw:from-green-300 tw:via-blue-500 tw:to-purple-600"></span>
        <div class="tw:justify-between tw:sm:flex">
            <div>
                <h5 class="tw:text-xl tw:font-bold tw:text-gray-900">{{ survey_selection.name }}</h5>
            </div>
        </div>
        <div class="no-tailwindcss-base tw:mt-4 tw:sm:pr-8">{{ survey_selection.description|safe|truncatechars:30 }}</div>
    </a>
</div>
