<div>
    <a class="relative block p-8 overflow-hidden border border-gray-100 rounded-lg bg-white" href="{% if user.is_authenticated %}{% url 'djf_surveys:survey_selection' survey_selection.slug %}{% endif %}">
        <span class="absolute inset-x-0 bottom-0 h-2  bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>
        <div class="justify-between sm:flex">
            <div>
                <h5 class="text-xl font-bold text-gray-900">
                    {{ survey_selection.name }}
                </h5>
            </div>
        </div>

        <div class="no-tailwindcss-base mt-4 sm:pr-8">
            {{ survey_selection.description|safe|truncatechars:30 }}
        </div>
    </a>
</div>
