<div class="swiper-slide">
<blockquote class="tw:p-6 tw:border tw:border-gray-100 tw:rounded-lg tw:shadow-lg tw:bg-white">
        {% if object.user == user %}
            <div class="tw:flex tw:-space-x-4 tw:hover:space-x-1 tw:float-right">
                {% if object.survey.editable %}
                    <a class="tw:z-20 tw:block tw:p-4 tw:text-blue-700 tw:transition-all tw:bg-blue-100 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-blue-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring" href="{% url 'djf_surveys:edit' object.id %}" type="button">
                        {% include "djf_surveys/buttons/edit_button.svg" %}
                    </a>
                {% endif %}
                {% if not on_detail %}
                    <a class="tw:z-20 tw:block tw:p-4 tw:text-green-700 tw:transition-all tw:bg-green-100 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-green-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring" href="{% url 'djf_surveys:detail_result' object.id %}" type="button">
<svg class="tw:h-4 tw:w-4" fill="none" stroke="currentColor" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
</a>
                {% endif %}
                {% if object.survey.deletable %}
                    <a class="button-delete tw:z-30 tw:block tw:p-4 tw:text-red-700 tw:transition-all tw:bg-red-100 tw:border-2 tw:border-white tw:rounded-full tw:hover:scale-110 tw:focus:outline-none tw:focus:ring tw:active:bg-red-50" data-mdb-object_delete_url="{% url 'djf_surveys:delete' object.id %}" data-mdb-object_name="your answer" data-te-target="#modalDelete" data-te-toggle="modal">
                        {% include "djf_surveys/buttons/delete_button.svg" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <cite class="tw:flex tw:items-center tw:mb-8 tw:not-italic">
<img alt="" class="tw:object-cover tw:w-12 tw:h-12 tw:rounded-full" src="{{ object.get_user_photo }}"/>
<p class="tw:ml-3 tw:leading-none">
<span class="tw:block tw:font-medium"> {{ object.user }} </span>
<span class="tw:text-sm tw:text-gray-500"> {{ object.created_at }} </span>
</p>
</cite>
<hr class="tw:mt-3 tw:mb-3"/>

        {% for answer in object.answer_set.all %}
            <p class="tw:text-lg tw:text-neutral-900">{{ answer.question.label }}</p>
<p class="tw:text-slate-400 tw:wrap-break-word">{{ answer.get_value }}</p>
<hr class="tw:mt-3 tw:mb-3"/>
        {% endfor %}

    </blockquote>
</div>