{% load i18n %}
<div class="tw:relative tw:p-8 tw:text-center tw:border tw:border-gray-200 tw:rounded-lg">
  <h2 class="tw:text-2xl tw:font-medium">
    {% if reason == "display" %} 
      {% trans "There's nothing here..." %} 
    {% elif reason == "search" %}
      {% trans "No " %}{{ type }}s {% trans "match your search query." %}
    {% endif %}
  </h2>
  <p class="tw:mt-4 tw:text-sm tw:text-gray-500">
    {% if reason != "search" %} 
      {% trans "Created " %} {{ type }}s {% trans "will appear here, try creating one!" %}
    {% endif %}
  </p>
</div>
