{% load i18n %}
<!-- button -->
<div class="tw:flex tw:justify-end">
  <button id="addQuestionButton"
          class="tw:z-20 tw:block tw:p-4 tw:text-blue-100 tw:transition-all tw:bg-blue-700 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-purple-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring"
          data-twe-ripple-init=""
          data-twe-ripple-color="light"
          onclick="addQuestion.showModal()"
          type="button">
    {% include "djf_surveys/buttons/add_button.html" with size=6 %}
    <span class="tw:items-center tw:float-right">{% trans 'Question' %}</span>
  </button>
</div>
<!--Verically centered modal-->
<dialog class="tw:modal tw:mx-auto tw:mt-12" id="addQuestion">
  <!--Modal title-->
  <div class="tw:modal-box tw:relative tw:p-4">
    <span class="tw:p-1 tw:flex tw:flex-row tw:justify-between">
      <h5 class="tw:text-xl tw:text-blue-600 tw:font-medium tw:leading-normal tw:dark:text-blue-600">
        {% trans "Add Question" %}
      </h5>
      <!--Close button-->
      <!--Modal body-->
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
    </span>
    <section>
      <ul class="tw:bg-slate-50 tw:p-4 tw:sm:px-8 tw:sm:pt-6 tw:sm:pb-8 tw:lg:p-4 tw:xl:px-8 tw:xl:pt-6 tw:xl:pb-8 tw:grid tw:grid-cols-1 tw:sm:grid-cols-2 tw:lg:grid-cols-1 tw:xl:grid-cols-2 tw:gap-4 tw:text-sm tw:leading-6">
        {% for type_field in get_type_field %}
          <li class="tw:flex">
            <a class="tw:hover:border-blue-500 tw:hover:border-solid tw:hover:bg-white tw:hover:text-blue-500 group tw:w-full tw:flex tw:flex-col tw:items-center tw:justify-center tw:rounded-md tw:border-2 tw:border-slate-300 tw:text-sm tw:leading-6 tw:text-slate-900 tw:font-medium tw:py-3"
               href="{% url 'djf_surveys:admin_create_question' object.id type_field.id %}">
              <i class="{{ type_field.icon }}">
              </i>
              {{ type_field.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <!--Modal footer-->
    <form class="tw:modal-backdrop" method="dialog">
      <button class="btn tw:inline-block tw:px-6 tw:py-2.5 tw:bg-red-400 tw:text-white tw:font-medium tw:text-xs tw:leading-tight tw:uppercase tw:rounded tw:shadow-md tw:hover:bg-red-700 tw:hover:shadow-lg tw:focus:outline-none tw:focus:ring-0 tw:transition tw:duration-150 tw:ease-in-out">
        close
      </button>
    </form>
  </div>
</dialog>
