{% load i18n %}
<!-- button -->
<div class="tw:flex tw:py-1 tw:fixed tw:bottom-10 tw:right-10">
  <button id="addQuestionButton"
          class="tw:z-20 tw:block tw:p-4 tw:text-blue-100 tw:transition-all tw:bg-blue-700 tw:border-2 tw:border-white tw:rounded-full tw:active:bg-purple-50 tw:hover:scale-110 tw:focus:outline-none tw:focus:ring"
          data-twe-ripple-init=""
          data-twe-ripple-color="light"
          onclick="addQuestion.showModal()"
          type="button">
    {% include "djf_surveys/buttons/add_button.html" with size=6 %}
    <span class="tw:items-center tw:float-right">{% trans 'Question' %}</span>
  </button>
</div>
<!--Verically centered modal-->
<dialog class="modal" id="addQuestion">
  <!--Modal title-->
  <div class="modal-box tw:relative tw:p-4">
    <h5 class="tw:text-xl tw:text-blue-600 tw:font-medium tw:leading-normal tw:dark:text-blue-600">
      {% trans "Add Question" %}
    </h5>
    <!--Close button-->
    <!--Modal body-->
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <section>
      <ul class="tw:bg-slate-50 tw:p-4 tw:sm:px-8 tw:sm:pt-6 tw:sm:pb-8 tw:lg:p-4 tw:xl:px-8 tw:xl:pt-6 tw:xl:pb-8 tw:grid tw:grid-cols-1 tw:sm:grid-cols-2 tw:lg:grid-cols-1 tw:xl:grid-cols-2 tw:gap-4 tw:text-sm tw:leading-6">
        {% for type_field in get_type_field %}
          <li class="tw:flex">
            <a class="tw:hover:border-blue-500 tw:hover:border-solid tw:hover:bg-white tw:hover:text-blue-500 group tw:w-full tw:flex tw:flex-col tw:items-center tw:justify-center tw:rounded-md tw:border-2 tw:border-slate-300 tw:text-sm tw:leading-6 tw:text-slate-900 tw:font-medium tw:py-3"
               href="{% url 'djf_surveys:admin_create_question' object.id type_field.id %}">
              <i class="{{ type_field.icon }}">
              </i>
              {{ type_field.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  <!--Modal footer-->
</div>
    <form class="modal-backdrop"method="dialog">
      <button>close</button>
    </form>
</dialog>
