{% load i18n %}
<section>
    <div class="tw:max-w-(--breakpoint-xl) tw:px-4 tw:py-12 tw:mx-auto tw:sm:px-6 tw:lg:px-8">
        <div class="tw:max-w-3xl tw:mx-auto tw:text-center">
            <h1 class="tw:text-3xl tw:font-extrabold tw:text-transparent tw:sm:text-6xl tw:bg-clip-text tw:bg-linear-to-r tw:from-green-300 tw:via-blue-500 tw:to-purple-600">
                {{ welcome_message_title }}
            </h1>
            <p class="tw:max-w-xl tw:mx-auto tw:mt-6 tw:text-lg">{{ welcome_message_tagline }}</p>
        </div>
    </div>
</section>
