{% extends get_admin_master_template %}
{% load djf_survey_tags i18n %}
{% if DEBUG %}
 {% load static tailwind_tags %}
{% endif %}
{% block extra_css %}
{% if DEBUG %}
  {% tailwind_css %}
{% else %}
  <link href="{% static 'djf_surveys/css/styles.css' %}" rel="stylesheet" />
{% endif %}
    {{ form.media }}
    {{ form.media.css }}
{% endblock %}
{% block extra_js %}{{ form.media.js }}{% endblock %}
{% block content %}
    <div class="tw:max-w-(--breakpoint-xl) tw:px-4 tw:py-16 tw:mx-auto tw:sm:px-6 tw:lg:px-8">
        <div class="tw:max-w-lg tw:mx-auto">
            <h1 class="tw:text-2xl tw:font-bold tw:text-center tw:text-blue-500 tw:sm:text-3xl">{{ title_page }}</h1>
            <div class="no-tailwindcss-base tw:mt-4">{{ sub_title_page|safe }}</div>
            <div class="tw:p-8 tw:mt-6 tw:mb-0 tw:space-y-4 tw:rounded-lg tw:shadow-md tw:border tw:border-gray-200 tw:bg-white">
                <form id="survey-form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="tw:mb-5" id="section_field_{{ field.auto_id }}">
                            <label class="tw:text-base tw:font-medium" for="email">{{ field.label }}</label>
                            <div class="tw:mt-1">
                                {% if field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'checkbox' %}
                                    {{ field }}
                                {% else %}
                                    {{ field|addclass:'tw:w-full tw:p-4 tw:pr-12 tw:text-sm tw:border tw:border-gray-500 tw:rounded-lg tw:shadow-sm' }}
                                {% endif %}
                            </div>
                            <p class="tw:text-xs tw:text-gray-400 tw:mt-2">{{ field.help_text }}</p>
                            <span class="tw:text-xs tw:text-red-400">{{ field.errors }}</span>
                        </div>
                    {% endfor %}
                    <button class="tw:block tw:w-full tw:mt-5 tw:px-5 tw:py-3 tw:text-sm tw:font-medium tw:text-white tw:bg-blue-500 tw:rounded-lg"
                            type="submit">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
