{% extends 'djf_surveys/admins/master.html' %}
{% load static i18n %}

{% block extra_css %}
  {{ chart_js_src|safe }}
  <link href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css" rel="stylesheet"/>
<link href="{% static 'djf_surveys/css/rating.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container px-5 py-5">
        {% for summary in summaries %}
        <section>
<div class="py-6 lg:items-end justify-between flex">
<h2 class="max-w-xl text-2xl font-bold sm:text-3xl">
                    {% trans "Summary" %} - {{ summary.survey.name }}
                </h2>
<div class="flex -space-x-4 hover:space-x-1 float-right">
<a class="z-20 block p-4 text-green-700 transition-all bg-green-100 border-2 border-white rounded-full active:bg-green-50 hover:scale-110 focus:outline-none focus:ring" href="{% url 'djf_surveys:detail' summary.survey.slug 'main' %}" type="button">
<svg class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
</a>
</div>
</div>
</section>
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
            {{ summary.generate|safe }}
        </div>
        {% endfor %}

    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/js/tw-elements.umd.min.js"></script>
{% endblock %}
