{% extends get_admin_master_template %}
{% load i18n %}
{% if DEBUG %}
 {% load static tailwind_tags %}
{% endif %}
{% block extra_css %}
{% if DEBUG %}
  {% tailwind_css %}
{% else %}
  <link href="{% static 'djf_surveys/css/styles.css' %}" rel="stylesheet" />
{% endif %}
{% endblock extra_css %}
{% block content %}
    <div class="tw:container tw:px-5 tw:py-5">
        {% include 'djf_surveys/components/section_welcome.html' %}
        <section>
            <div class="tw:py-6 tw:justify-start tw:items-center tw:flex">
                <h2 class="tw:max-w-xl tw:text-2xl tw:font-bold tw:sm:text-3xl">{% trans "Create a survey" %}</h2>
                <div class="tw:ms-10">
                    <a class="tw:inline-block tw:px-5 tw:py-3 tw:mt-4 tw:font-medium tw:text-white tw:bg-blue-500 tw:rounded-lg tw:sm:m-0"
                       href="{% url 'djf_surveys:admin_create_survey' %}">
                        {% include "djf_surveys/buttons/add_button.html" %}
                    </a>
                </div>
            </div>
        </section>
        {% include 'djf_surveys/components/search_form.html' %}
        {% if object_list %}
            <div class="tw:grid tw:sm:grid-cols-1 tw:md:grid-cols-2 tw:lg:grid-cols-2 tw:xl:grid-cols-2 tw:gap-4">
                {% for survey in page_obj %}
                    {% include 'djf_surveys/components/card_list_survey.html' %}
                {% endfor %}
            </div>
            <div class="tw:py-10">{% include 'djf_surveys/components/pagination.html' %}</div>
        {% else %}
            {% include 'djf_surveys/components/empty_state.html' with type="survey" reason=reason %}
        {% endif %}
    </div>
    {% include 'djf_surveys/components/modal_delete.html' %}
{% endblock %}
{% block extra_js %}
    {% include 'djf_surveys/components/modal_delete_js.html' %}
{% endblock %}
