{% extends get_master_template %}
{% load djf_survey_tags i18n static %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css" />
  <link rel="stylesheet" href="{% static 'djf_surveys/css/rating.css' %}"/>
  <link rel="stylesheet" href="{% static 'djf_surveys/css/custom.css' %}"/>
{% endblock %}

{% block content %}
    {% if object.cancel_button %}
        <div class="flex py-1 fixed bottom-10 right-10">
            <a id="cancel_button" href="{{ link_back_on_cancel }}"
                class="z-20 block p-4 text-blue-100 transition-all bg-blue-700 border-2 border-white rounded-full active:bg-purple-50 hover:scale-110 focus:outline-none focus:ring"
                type="button">
                {% include "djf_surveys/buttons/cancel_button.svg" with size=6 %}
                <span class="items-center float-right"><b> {% trans 'Cancel' %} </b></span>
            </a>
        </div>
    {% endif %}

    <div class="max-w-(--breakpoint-xl) px-4 py-16 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto">
            <h1 class="text-2xl font-bold text-center text-blue-500 sm:text-3xl">{{ title_page }}</h1>

            <div class="no-tailwindcss-base mt-4">
                {{ sub_title_page|safe }}
            </div>

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
                        <label for="email" class="text-base font-medium">{{ field.label }}</label>

                        <div class="mt-1">
                            {% if field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'checkbox' %}
                                {{ field }}
                            {% else %}
                                {{ field|addclass:'w-full p-4 pr-12 text-sm border-gray-500 rounded-lg shadow-sm' }}
                            {% endif %}
                        </div>
                        <p class="text-xs text-gray-400">{{ field.help_text }}</p>
                        <span class="text-xs text-red-400">{{ field.errors }}</span>
                    </div>
                {% endfor %}

                <button type="submit" class="block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
                    {% trans "Submit" %}
                </button>
            </form>
        </div>
    </div>
    <div id="idle-popup">
        <h2>Are you still there?</h2>
        <p>You will be redirected in <span id="countdown">120</span> seconds.</p>
        <button id="stay-btn">I'm still here</button>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/js/tw-elements.umd.min.js"></script>
    <script>
      // many thanks to https://forum.squarespace.com/topic/319936-inactive-idle-user-site-redirect-to-homepage/#elComment_795026
      function initialise_timeout() {
        const idleDurationSecs = {{ SURVEY_FORM_TIMEOUT }}; // Use this line to change the total time a user has until redirected
        const countdownDurationSecs = {{ SURVEY_FORM_TIMEOUT_DIALOG }};  // Use this line to how many seconds should remain for your pop-up to come up 
        const redirectUrl = "{{ link_back_on_cancel }}";  // ADD URL TO WHICH YOU WANT TO REDIRECT USERS
        let idleTimeout;
        let countdownTimeout;
        let countdownInterval;

        const popup = document.getElementById('idle-popup');
        const countdownElement = document.getElementById('countdown');
        const stayButton = document.getElementById('stay-btn');

        const resetIdleTimeout = function() {
            if (idleTimeout) clearTimeout(idleTimeout);
            if (countdownTimeout) clearTimeout(countdownTimeout);
            if (countdownInterval) clearInterval(countdownInterval);
            popup.style.display = 'none';
            
            idleTimeout = setTimeout(showPopup, idleDurationSecs * 1000);
        };

        const showPopup = function() {
            popup.style.display = 'block';
            let remainingSeconds = countdownDurationSecs;
            
            const updateCountdown = function() {
                countdownElement.textContent = remainingSeconds;
                if (remainingSeconds <= 0) {
                    clearInterval(countdownInterval);
                    location.href = redirectUrl;
                }
                remainingSeconds--;
            };

            updateCountdown();
            countdownInterval = setInterval(updateCountdown, 1000);
        };

        stayButton.addEventListener('click', resetIdleTimeout);

        // Init on page load
        resetIdleTimeout();

        // Reset the idle timeout on any of the events listed below
        ['click', 'touchstart', 'mousemove', 'scroll'].forEach(evt => 
            document.addEventListener(evt, resetIdleTimeout, false)
        );
      }
      (function() {
            ['click', 'touchstart', 'mousemove', 'scroll'].forEach(evt => 
            document.addEventListener(evt, initialise_timeout, false)
        );
    })();
    </script>
{% endblock %}