{% extends get_master_template %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'djf_surveys/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'djf_surveys/css/custom.css' %}" rel="stylesheet" />
{% endblock extra_css %}
{% block content %}
    <div id="survey-content" class="tw:container tw:px-5 tw:py-5">
        {% include 'djf_surveys/components/section_welcome.html' %}
        {% include 'djf_surveys/components/search_form.html' %}
        <div>
            {% if surveys %}
                <div class="tw:grid tw:sm:grid-cols-1 tw:md:grid-cols-2 tw:lg:grid-cols-2 tw:xl:grid-cols-2 tw:gap-4">
                    {% for survey in surveys %}
                        {% if user.is_staff or user.is_authenticated == False and survey.can_anonymous_user and survey.show_on_index %}
                            {% include 'djf_surveys/components/card_list_survey.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tw:py-10">{% include 'djf_surveys/components/pagination.html' %}</div>
            {% else %}
                {% include 'djf_surveys/components/empty_state.html' with type="Survey" reason=reason %}
            {% endif %}
        </div>
        <div>
            {% if survey_selections %}
                <div class="tw:grid tw:sm:grid-cols-1 tw:md:grid-cols-2 tw:lg:grid-cols-2 tw:xl:grid-cols-2 tw:gap-4">
                    {% for survey_selection in survey_selections %}
                        {% if user.is_staff or user.is_authenticated == False and survey_selection.can_anonymous_user and survey_selection.show_on_index %}
                            {% include 'djf_surveys/components/card_list_survey_selection_list.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tw:py-10">{% include 'djf_surveys/components/pagination.html' %}</div>
            {% else %}
                {% include 'djf_surveys/components/empty_state.html' with type="Survey Selection" reason=reason %}
            {% endif %}
        </div>
    </div>
{% endblock %}

