{% extends get_master_template %}
{% load static %}
{% if DEBUG %}
 {% load tailwind_tags %}
{% endif %}
{% block extra_css %}
{% if DEBUG %}
  {% tailwind_css %}
{% else %}
  <link href="{% static 'djf_surveys/css/styles.css' %}" rel="stylesheet" />
{% endif %}
    <link href="{% static 'djf_surveys/css/custom.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="tw:container tw:px-5 tw:py-5">
        {% include 'djf_surveys/components/section_welcome.html' %}
        {% include 'djf_surveys/components/search_form.html' %}
        {% if object_list %}
            <div class="tw:grid tw:sm:grid-cols-1 tw:md:grid-cols-2 tw:lg:grid-cols-2 tw:xl:grid-cols-2 tw:gap-4">
                {% for survey in page_obj %}
                    {% include 'djf_surveys/components/card_list_survey.html' %}
                {% endfor %}
            </div>
            <div class="tw:py-10">{% include 'djf_surveys/components/pagination.html' %}</div>
        {% else %}
            {% include 'djf_surveys/components/empty_state.html' with type="survey" reason=reason %}
        {% endif %}
    </div>
    {% include 'djf_surveys/components/modal_delete.html' %}
{% endblock %}
{% block extra_js %}
    {% include 'djf_surveys/components/modal_delete_js.html' %}
{% endblock %}
