{% extends get_master_template %}
{% load static %}
{% if DEBUG %}
 {% load tailwind_tags %}
{% endif %}
{% block extra_css %}
{% if DEBUG %}
  {% tailwind_css %}
{% else %}
  <link href="{% static 'djf_surveys/css/styles.css' %}" rel="stylesheet" />
{% endif %}
{% endblock extra_css %}
{{ form.media }}
{% block content %}
    <div class="tw:container">
        <h2>Withdraw Response</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Withdraw Response</button>
        </form>
    </div>
{% endblock %}
