{% extends get_master_template %}
{% if SURVEY_DEBUG %}
 {% load tailwind_tags %}
{% else %}
 {% load static %}
{% endif %}
{% block extra_css %}
{% if SURVEY_DEBUG %}
  {% tailwind_css %}
{% else %}
  <link href="{% static 'djf_surveys/css/styles.css' %}" rel="stylesheet" />
{% endif %}
{% endblock extra_css %}

{% block content %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="tw:rounded-full tw:bg-blue-800 tw:hover:bg-red-800 tw:p-5 tw:my-10" type="submit"><span class="tw:text-white">Logout</span></button>
</form>
{% endblock content %}